.center-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vh;
}

.table-header{
    background-color: #343A40;
    opacity: 90%;
    color: white;
}

.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
    transition: all .2s ease-in-out  
}

.sectionHeader{
    border-bottom: 2px solid gray;
    opacity: 80%;
    width: 80%;
    cursor: pointer;
    transition: all .2s ease-in-out
}


.storage-content{
    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}

.sectionHeader:hover{
    opacity: 50%;
}

.section-content{
    margin-top: 2vh;
    margin-bottom: 4vh;
    transition: all ease-in 0.5s;
}

.storage-title{
    font-weight: 600;
    text-align: center;
    margin-top: 3vh;
    border-bottom: 2px solid gray;
    padding-bottom: 1vh;
}

.tablespaces-list{
    width: 30%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    opacity: 90%;
}

.datafiles-stats{
    width: 65%;
}